/* Errors */

.btn-report {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Profile */

.user-info {
  background-image: url("/images/profile/background/post-it.png");

  color: #FFF;
  background-size: cover;
  height: 145px;
  padding: 5px 20px 10px;
  position: relative;
}

.user-info-all {
    height: 140px;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
}

.user-info-basic {
    float: left;
    position: relative;
    padding: 10px 10px 10px 0px;
}

.user-pic-container {
    top: 0px;
    border-radius: 15px;
    border: 3px solid #FFF;
    float: left;
    cursor: pointer;
}

.user-pic {
    width: 80px;
    height: 80px;
    border-radius: 12px;    
}


.user-pic-max-container {
    padding-top: 25%;
    text-align: center;
}

.user-pic-max {
    width: 50%;
}

.user-details {
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
    
    float: left;
    line-height: 18px;
    margin-left: 10px;
    max-height: 135px;
    max-width: 500px;
    overflow: hidden;
    padding: 10px 10px 5px;
}

.user-details:hover {  
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}

.user-name-container {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-name {
    color: #FFF;
    font-size: 24px;
    margin-right: 10px;
    white-space: nowrap;
}

.user-type {
  color: #FFF;
  font-size: 16px;
  margin-top: 8px;
  max-height: 54px;
  overflow: hidden;
}

.user-type-text {
  color: #AAA;
  font-size: 16px;
}

.textarea-limited {
  resize: vertical;
}

.input-pic {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-pic-text {
  position: absolute;
  font-size: 40px;
  opacity: 0.8;
  margin: 20px 20px auto;
  text-shadow: 2px 2px 10px black;
  cursor: pointer;
}

.user-pic-update {
  position: absolute;
  margin: 90px 10px auto; 
}

.user-pic-update-btn {
  position: absolute;
  margin: 70px 10px auto;  
}

/* Social links */

.social-media-item {
  display: inline-block;
  height: 40px;
  width: 75px;
}

.social-media-link {
  height: inherit;
  width: 40px;
  display: block;
  position: absolute;
}

.social-media-icon {
  opacity: 0.5;
  border-radius: 20px;
  display: block;
  position: absolute;
  margin: 2px;

}

.social-media-icon:hover {
  opacity: 1.0;
}

/* Home */

.title-matter {
  font-size: 18px !important;
  color: #808080;
  text-decoration: none;
}

/* Article */

.article-title {
  text-align: center;
}

.article-content {
  font-size: 16px !important;
  margin-left: 10px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.article-tool {
  text-align: center;
}

/* Discussion */

.discussion {
  padding-top: 10px;
}

.discussion-content {
  float: left;
  padding-bottom: 10px;
  font-size: 18px !important;
}

.discussion-delete {
  float: right;
}


.discussion-votes {
  float: left;
  margin-right: 15px;
}

.votes-sum {
  margin-right: 15px;
}

.discussion-reply-button {
  margin-left: 15px;
}

.discussion-answers-button {
  margin-left: 30px;
}

.discussion-meta-info {
  float: right;
  text-align: right;
}

.discussion-reply {
  margin-left: 60px;
}

.answer-content {
  float: left;
  padding-bottom: 10px;
  font-size: 15px !important;
}

/* Subject color */

.icon.is-circle {
    border: 3px solid currentColor;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 10px;
}

.is-circle {
    border-radius: 50%;
}

.icon {  
  font-size: 21px;
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.icon, .icon.is-large, .icon.is-medium, .icon.is-small {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}